.record-ranking-container {
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 900px;  
}

.dropdown-container {
  display: flex; 
  background-color: rgb(236, 235, 235); 
  padding: 7px;
}

.dropdown {
  padding: 10px;
  font-size: 14px;
  margin-right: 10px; /* 드롭다운 박스 사이의 간격을 조절합니다 */
}


