.mission_totalCount{
  font-size: 22px;  font-weight: bold;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.ExerciseCount{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(237, 120, 194);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.EatCount{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(129, 185, 235);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.CultureCount{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(237, 227, 113);
  text-align: center;
  margin: 0 30px 0 30px;
}
.HoobyCount{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(82, 183, 104);
  text-align: center;
  margin: 0 30px 0 30px;
}

.mission_theme{
  font-size: 22px; font-weight: bold;
  
}
.mission_count{
  font-size: 20px;
}