.record-ranking-container {
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 830px;  
}
.dropdown-container {
  display: flex; 
  background-color: rgb(236, 235, 235); 
  padding: 7px;
}
.dropdown {
  padding: 10px;
  font-size: 14px;
  width: 100px;
  margin-right: 10px; 
}

.rank_totalRank{
  font-size: 22px;  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.ExerciseRank {
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(250, 209, 235);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.EatRank{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(196, 224, 245);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.CultureRank{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(243, 243, 163);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.HobbyRank{
  display: inline-block;
  width: 140px; height: 120px;
  border-Radius: 8px;
  background-color: rgb(189, 234, 203);
  text-align: center; 
  margin: 0 30px 0 30px;
}
.rank_theme{
  font-size: 22px; font-weight: bold;
}
.rank_count{
  font-size: 20px;
}

.Record_mission_bar_group{
  display: block;
  margin-left: 20vh;
}