.layout_fifth{
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    text-align: center;
}
.rank_table{
    display: flex;
  justify-content: center;
  align-items: center;
}
.Rank_block{
    display: block;
    
}
.rank_locate{
    display: inline-flex;
    align-items: center;
}
.rank_block{
    display: block;
    align-items: center;
    margin: 10px;
}
.ranking_number{
    width: 30px; height: 30px;
    display: inline;
    margin-right: 20px;
}
.rank_user_profile{
    width: 50px; height: 50px;
    display: inline;
  }
.rank_Info{
    margin-left: 20px;
    text-align: left;
    margin-right: -500px;
}
.rank_user_name{
    margin:0;
}
.rank_user_id{
    margin:0;
    color: gray;
    font-weight: 400;
}
.table_wer2{
    display: inline-flex;
    align-items: center;
    float: left;
    margin-right: 100vh;
  }
  .rank_scrollbox{
    width: 900px;
    height: 530px;
    overflow-y: scroll;
    border: solid 1px gray;
    /* border-radius: 5px; */
    border-left: none;
    border-right: none;
  }
  .rank_scrollbox::-webkit-scrollbar {
    width: 6px;
  }
  .rank_scrollbox::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .rankingbox{
    margin: auto;
  }
  .rank_4{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
  }