.spinner_alarm{  
    display: flex;
    /* width: 587px; */
    /* line-height: 10px; */
    justify-content: center;
    align-items: center;
    /* min-height: 80%; */
    position: relative;
    overflow: hidden;
    margin-left: 8vh;
    margin-top: 12vh;
}