.spinner_lay{  
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* min-height: 80%; */
    position: relative;
    overflow: hidden;
    margin-top: 40vh;
}