.idField{
  padding-bottom: 10px;
}
.totalLogin{
  padding-top: 5%;
}
.loginForm{
  margin: auto;
  text-align: center;
  width:300px;
  border-radius: 20px;
  padding: 30px;
  background-color:#ffffff;
}
.loginTitle{
  font-size: 25px;
  font-weight: 600;
  color: #65C28E;
}
.loginLogo{
  width: 220px;
  margin-bottom: 20px;
}
.loginBox{
  background-color: rgba(255, 255, 255, 0.884);
  width: 300px;  height: 320;
  border-radius: 15px;
  margin-bottom: 20px;
}
.btnLogin{
  width: 300px; height: 45px;
  border: none; border-radius: 5px;
  font-size: 15px;
  color:white; background-color: #65C28E;
  margin-top: 30px;
  cursor: pointer;
}
.keepLogin{
  text-align: left;
  margin-top: 10px;
  color: #65C28E;
  font-weight: 900;
}

.find{
  margin-top: 20px;
  margin-bottom: 20px;
}
.findPassword{
  padding-right: 10px;
  font-size: 15px;
}
.findPassword:hover{
  font-weight: 600;
  text-decoration: underline;
}
.signUp{
  margin-left: 20px;
  font-size: 15px;
}
.signUp:hover{
  font-weight: 600;
  text-decoration: underline;
}

.naver { 
  width: 25px; padding-left: 5px;
  border: 0px;
  margin-right: 20px;
  cursor: pointer;
}
.google { 
  width: 25px; 
  border: 0px;
  margin-right: 20px;
  cursor: pointer;
}
.kakao { 
  width: 25px; 
  border: 0px;
  margin-right: 20px;
  cursor: pointer;

}
.login_body{
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #81bff1, #a8e59c); 
  background: linear-gradient(to right, #81bff1, #a8e59c); 
}