.signUpForm{
  margin: auto;
  text-align: center;
  width:300px;
  border-radius: 20px; border:none;
  padding: 30px;
  background-color:#ffffff;

  /*로그인 폼 화면 가운데 배치*/
  place-items: center;
}
.signUpID{
  padding-bottom: 10px;
}
.signUpTitle{
  font-size: 30px;
  font-weight: 600;
  color: #65C28E;
}
.signUpBox{
  background-color: rgba(255, 255, 255, 0.884);
  width: 320px; 
  border-radius: 5px;
}
.btnsignUp{
  width: 230px; height: 45px;
  border: none; border-radius: 5px;
  font-size: 15px;
  color:white; background-color: #65C28E;
  margin-top: 10px;
}
.keepLogin{
  text-align: left;
}
/* a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
} */
.signup_body{
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #81bff1, #a8e59c); 
  background: linear-gradient(to right, #81bff1, #a8e59c); 
}
