.layout_feed{
  margin-top: 65px;
  justify-content: center; 
  min-height: 80%;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  min-height: 83vh;
  background-color: rgb(237, 245, 238);
  overflow: hidden;
} 
.userProfile{
  width: 55px; height: 55px; 
}
.header_feed{
  margin-top: 20px;
}

/* 버튼 */
.allFeed{
  margin: 25px 15px 0px 180px;
  font-size: 16px; font-weight: 500;
  display: inline-block;
  background: rgb(232, 232, 232);
  width: 65px; height: 32px;
  border: none; border-radius: 25px;
}
.followFeed{
  font-size: 16px; font-weight: 500;
  display: inline-block;
  background: rgb(232, 232, 232);
  width: 88px; height: 32px;
  border: none; border-radius: 25px;
}
.allfeed_active{
  background-color: rgb(86, 168, 119);
  color: white; 
}
.followfeed_active{
  background-color: rgb(86, 168, 119);
  color: white;
}

/*피드 박스 스크롤*/
.feed_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.feed_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.feed_scrollbox{
  width: auto; height: 520px;
  margin-top: 25px;
  overflow-y: scroll;
}
.followFeed-noData{
  font-size: 20px;
  color: rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
/*피드 박스*/
.feedBox01, .feedBox02, 
.feedBox03, .feedBox04{
  width: 920px; 
  background-color: white;
  border: none;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
}
.userint{
  font-weight: 500;
}

.user_profile{
  width: 50px; height: 50px;
  margin-top: 15px; margin-left: 15px;
}

/* 팔로우 버튼 */
.followButton {
  background-color: #4baae9;
  width: 60px; height: 28px;
  color: #ffffff; 
  padding: 5px 10px;
  border: none;  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
/* 팔로잉 시 버튼 색 변경*/
.followButton.following {
  background-color: rgb(189, 189, 189);
  color: white; 
}

.userInfo h4, .user_id{
  display: inline;
}
.feedContent{
  margin-top: -50px;
  margin-left:90px;
}
.oneLine{
  font-size: 15px; color: gray;
  margin-top: 2px;
}
/*체크리스트*/
.feedChecklist{
  margin-bottom: 10px;
}

/*아이콘*/
.comment_icon{
  font-size: 28px;
  color: rgb(155, 154, 154);
  margin-left: 10px;
  margin-bottom: -7px;
  display: inline-block;
}

.heart_icon{
  font-size: 27px;
  color: rgb(155, 154, 154);
  margin-left: 720px;
  margin-bottom: -7px;
  display: inline-block;
}
.likeCount, .commentCount{
  font-size: 17px;
  color: rgb(155, 154, 154);
  margin-left:4px;
}

.feed_checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 270px;
  height: 70px;
}

.feed_checkbox {
  display: none; /* 체크박스를 숨김 */
}

.feed_custom-checkbox {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  border: 2px solid rgb(34, 173, 120);
  background-color: rgb(233, 241, 222);
  margin-right: 8px;
}

.feed_checkbox:checked + .feed_custom-checkbox::after {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 17px;
  font-size: 35px;
  color: #4caf50;
}

.feed_todo-text {
  color: black;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 520;
}

.feed_text-underline {
  position: relative;
  display: inline-block;
  color: rgb(34, 173, 120);
}

.feed_text-underline span::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -3px;
  width: 220px;
  border-bottom: 2px solid rgb(34, 173, 120);
}
.redfh {
  color: #fd8888;
}
