.layout_feed{
  margin-top: 65px;
  justify-content: center; 
  min-height: 80%;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  min-height: 75vh;
} 
.userProfile{
  width: 55px; height: 55px; 
}

/*상단 메뉴바*/
.header_feed{
  margin-top: -49px;
}
.allFeed{
  margin: 40px 15px 0px 210px;
  font-size: 17px;
  display: inline-block;
}
.followFeed{
  font-size: 17px;
  display: inline-block;
}

/*닉네임 검색창*/
.searching{
  float: right;
  margin-right: 120px;
}
.searchBox{
  width: 200px; height: 30px;
}

/*피드 박스 스크롤*/
.feed_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.feed_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.feed_scrollbox{
  width: auto;
  height: 450px;
  overflow-y: scroll;
}
/*피드 박스*/
.feedBox01, .feedBox02, .feedBox03{
  width: 800px; 
  border: solid 1px gray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}
.userint{
  font-weight: 500;
}
.user_profile{
  width: 50px; height: 50px;
  margin-top: 15px; margin-left: 15px;
}
.userInfo h4, .user_id{
  display: inline;
}
.feedContent{
  margin-top: -50px;
  margin-left:90px;
}
.oneLine{
  font-size: 15px; color: gray;
  margin-top: 2px;
}

.Comment{
  margin-top: 13px;
  width: 720px;  height: 40px;
  padding: 0 15px; 
  
}
.feedChecklist{
  margin-bottom: 10px;
}
.commetBtn{
  background-color: white;
  color:mediumseagreen; font-weight: bolder;
  border: none;
}