.user_profile_feed_char{
    width: 120px;
    height: 120px;
    margin: 10px 15px;
}
.Feed_char_username{
    margin: 0px;
    color: #ffffff;
    font-size: x-large;
    font-weight: 900;
    height: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.Feed_char_level{
    margin: 0px;
    font-weight: 900;
    font-size: small;
    height: 20px
}
.Feed_char_complete{
    margin: 0px;
    width: auto;
    height: auto;
    font-weight: 900;
    font-size: small;
}
.char_name{
    display: inline-block;
}
.feed_char_box{
    /* border: solid 2px gray; */
    border-radius: 5px;
    margin: 10px; 
    font-size: 15px;
    text-align: left;
    background-color: #e9f4e6;
    padding: 5px;
    width: 400px;
    height: 140px;
    background-color: rgb(255, 168, 220);
    border: solid 10px rgb(239, 98, 182);
  }
.feed_char_box2{
    /* border: solid 2px gray; */
    border-radius: 5px;
    margin: 10px; 
    font-size: 15px;
    text-align: left;
    background-color: #e9f4e6;
    padding: 5px;
    width: 400px;
    height: 140px;
    background-color: rgb(141, 209, 255);
    border: solid 10px rgb(64, 164, 231);
  }
.feed_char_box3{
    /* border: solid 2px gray; */
    border-radius: 5px;
    margin: 10px; 
    font-size: 15px;
    text-align: left;
    background-color: #e9f4e6;
    padding: 5px;
    width: 400px;
    height: 140px;
    background-color: rgb(255, 235, 154);
    border: solid 10px rgb(241, 196, 15);
  }
.feed_char_box4{
    /* border: solid 2px gray; */
    border-radius: 5px;
    margin: 10px; 
    font-size: 15px;
    text-align: left;
    background-color: #e9f4e6;
    padding: 5px;
    width: 400px;
    height: 140px;
    background-color: rgb(200, 255, 196);
    border: solid 10px rgb(67, 184, 58);
  }
  .feed_char_text{
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-items: center;
  }

  .scroll_feed_box {
    border-Radius: 5px;
    margin-top: 30px;
    width: auto;
    height: 400px;
    background-color: #ffffff99;
    overflow-y: scroll;
  }
  .scroll_feed_box::-webkit-scrollbar {
    width: 6px;
  }
  .scroll_feed_box::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll_feed_box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
  }
  .scroll_feed_box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }