.layout_feed{
  margin-top: 65px;
  justify-content: center; 
  min-height: 80%;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  min-height: 83vh;
  background-color: rgb(237, 245, 238);
} 
.userProfile{
  width: 55px; height: 55px; 
}
.header_feed{
  margin-top: 20px;
}

/* 버튼 */
.allFeed{
  margin: 25px 15px 0px 180px;
  font-size: 16px; font-weight: 500;
  display: inline-block;
  background: rgb(232, 232, 232);
  width: 65px; height: 32px;
  border: none; border-radius: 25px;
}
.followFeed{
  font-size: 16px; font-weight: 500;
  display: inline-block;
  background: rgb(232, 232, 232);
  width: 88px; height: 32px;
  border: none; border-radius: 25px;
}
.allfeed_active{
  background-color: rgb(0, 0, 0);
  color: white; 
}
.followfeed_active{
  background-color: rgb(0, 0, 0);
  color: white;
}

/*닉네임 검색창*/
.searching{
  float: right;
  margin-top: 15px;
  margin-right: 120px;
}
.searchBox{
  width: 200px; height: 33px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  outline: none;
}
.input-container {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.input-container {
  position: relative;
  display: inline-block;
}
.search-icon {
  position: absolute;
  top: 50%;  right: 10px;
  transform: translateY(-50%);
  font-size: 23px; color: rgb(88, 88, 88);
}

/*피드 박스 스크롤*/
.feed_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.feed_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.feed_scrollbox{
  width: auto; height: 470px;
  margin-top: 15px;
  overflow-y: scroll;
}
/*피드 박스*/
.feedBox01, .feedBox02, 
.feedBox03, .feedBox04{
  width: 920px; 
  background-color: white;
  border: none;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
}
.userint{
  font-weight: 500;
}
.user_profile{
  width: 50px; height: 50px;
  margin-top: 15px; margin-left: 15px;
}
.userInfo h4, .user_id{
  display: inline;
}
.feedContent{
  margin-top: -50px;
  margin-left:90px;
}
.oneLine{
  font-size: 15px; color: gray;
  margin-top: 2px;
}
/*체크리스트*/
.feedChecklist{
  margin-bottom: 10px;
}
.feed-checkbox{
  margin-right: 10px; 
  width: 20px; height: 20px;
  border: 2px solid rgb(34, 173, 120);
  background-color: white;
}
/*아이콘*/
.heart_icon{
  font-size: 27px;
  color: rgb(155, 154, 154);
  margin-left: 750px;
  display: inline-block;
}
.comment_icon{
  font-size: 28px;
  color: rgb(155, 154, 154);
  margin-left: 9px;
  display: inline-block;
}

/* AllFeed.css에 복사하여 적용할 스타일 */
.feed_checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 270px;
  height: 70px;
}

.feed_checkbox {
  display: none; /* 체크박스를 숨김 */
}

.feed_custom-checkbox {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  border: 2px solid rgb(34, 173, 120);
  background-color: rgb(233, 241, 222);
  margin-right: 8px;
}

.feed_checkbox:checked + .feed_custom-checkbox::after {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 17px;
  font-size: 35px;
  color: #4caf50;
}

.feed_todo-text {
  color: black;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 520;
}

.feed_text-underline {
  position: relative;
  display: inline-block;
  color: rgb(34, 173, 120);
}

.feed_text-underline span::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -3px;
  width: 220px;
  border-bottom: 2px solid rgb(34, 173, 120);
}
