.layout_health{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    min-height: 80%;
    position: relative;
    
  }
  .health_lay{
    align-items: center;
    margin: 30px;
    border: solid 2px rgb(199, 198, 198);
    border-radius: 10px;
  }
  .however{
    margin: 20px;
  }
  .edit_name_icon{
    font-size: 17px;
    color: rgb(141, 139, 139);
  }
  .name_container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .health_font1{
    color: rgb(141, 139, 139);
    text-align: center;
    margin-right: 10px;
  }
  .health_font2{ /*완료미션*/
    color: rgb(141, 139, 139);
    text-align: center;
    font-size: 18px;
    font-weight: 800;
  }
  .health_font3{
    text-align: center;
  }
  .health_font4{ /*완료미션 개수*/
    font-size: 18px;
    color: #79a58b;
    margin-left: 200px;
  }
  .Lv_health{
    align-items: center;
    width: 140px;
    height: 150px;
  }
  .status-hpchar {
    /* position: relative; */
    display: inline;
    
    }
  .bar_char {
    width: 250px;
    height: 20px;
    background-color: #e4e4e4;
    align-content: center;
    margin: 24px;
    border-radius: 5px;
  
    }
  .currentBar_char1 {
    height: 100%;
    background-color: rgb(239, 98, 182);
    border-radius: 5px;
  
  }
  .currentBar_char2 {
    height: 100%;
    background-color: rgb(64, 164, 231);
    border-radius: 5px;
  }
  .currentBar_char3 {
    height: 100%;
    background-color: rgb(241, 196, 15);
    border-radius: 5px;
  }
  .currentBar_char4 {
    height: 100%;
    background-color: rgb(67, 184, 58);
    border-radius: 5px;
  }
  .save_name_button{
    color:white;
    background-color: #afb2b0;
    width: 53px; height: 27px; 
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    
}
.save_name_button:hover{
    color:white;
    background-color: #65C28E;
    width: 53px; height: 27px; 
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    
}
  