.layout_char{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.home {
    width: 110px;
    margin-left: 18px;
    margin-right: 18px;
}
.h2{
    text-align: center;
}
.health{
    display: block;
}