.layout{
  display: inline-flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  min-height: 75vh;
} 

.searchID{
  float: right;
}
.searching{
  position: relative;
}
.searchIcon{
  position: absolute;
  left: 7px; top: 7px;
}
.searchBox{
  width: 180px; height: 30px;
}
.feedBox{
  width: 600px; 
  border: solid 2px gray;
  border-radius: 5px;
}
.user_id{
  font-size: 15px;
  margin: 0px;
  color: gray;
}
.userint{
  font-weight: 500;
}
.user_profile{
  width: 55px; height: 55px;
  margin-top: 20px; margin-left: 20px;

}

.userInfo h4, .user_id{
  display: inline;
}
.feedContent{
  margin-top: -50px;
  margin-left:90px;
}
.oneLine{
  font-size: 15px;
}
.Comment{
  margin-top: 13px;
  width: 565px;  height: 40px;
  padding: 0 15px;
}
.commetBtn{
  background-color: white;
  color:mediumseagreen; font-weight: bolder;
  border: none;

}