.footer {
    position: fixed;
    width:100%;
    bottom: 0;
    height: 10%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.icon{
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
}
nav:focus{
    color:#65C28E;
}
/* .my{
    margin-left: 20px;
    margin-right: 20px;
    color:#65C28E;
} */
.contents {
    display: flex;
}
