.header {
    position: fixed;
    top: 0;
    width: 100%; height: 25vh;
    font-family: 'NanumSquareNeo-Variable';
    background-image: url(../img/ToLevelUp_logo.png);
    background-repeat: no-repeat;
    background-position: left top 10px;
    background-size: 300px;
    background-color: white;
}
.logo_img{
    width: 100%; height: 70px;
}
.btnlogout {
    font-family: 'NanumSquareNeo-Variable';
    color:white;
    background-color: #65C28E;
    font-size: 16px;
    width: 75px; height: 27px; 
    border: none;
    border-radius: 5px;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}