.header {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: blueviolet; */
}
.header_line{
    border-top: 1px solid #b1daca;
    /* margin: 5px 0px; */
}
.Header_main{
    align-items: center;
}
.logoimg{
    width: 160px;
    height: 43px;
    margin-top: 6px;
    margin-right: 960px;
}
.header_logout {
    color:gray;
    display: inline;    
}
.bell{
    display: inline;
    margin-right: 10px;
}