.header {
    position: fixed;
    top: 0;
    width: 100%; height: 10%;
    /* background-color: white; */
    justify-content: center;
}
.logoimg{
    width: 120px; height: 30px;
    margin-top: 10px;
    margin-right: 60%;
    margin-left: 12%;

}
.header_logout {
    color:gray;
    display: inline;
    
}
.bell{
    display: inline;
    align-items: center;
}