.layout{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'NanumSquareNeo-Variable';
}
.main{
  display: block;
}
.status-hp {
  position: relative;
  display: inline;
  
  }
.bar {
  width: 250px;
  height: 15px;
  background-color: #e4e4e4;
  align-content: center;
  margin: 22px;
  }
.currentBar {
  height: 100%;
  background-color: #1bdc75;
  }
.locate{
  text-align: right;
  display: block;
  margin: 20px;
  /* background-color: aquamarine; */
}
.square{
  display: block;
  text-align: center;
  margin: 20px;
  align-items: center;
}
.profils{
  display: block;
}
.profils:hover{
  border: orange 4px solid;
  border-radius: 63px;
}
.she{
  display: inline-block;
}
.text{
  display: inline-flex;
}
.rename{
  width:190px; height: 30px;
  margin: 5px;
  font-size: 15px;
}

.intro{
  width:190px; height: 30px;
  margin: 5px;
  font-size: 15px;
}
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.mama {
  display: inline-flex;
}
.momo{
  display: inline-flex;
}
.btnstyle{
      font-family: 'NanumSquareNeo-Variable';
      color:white;
      background-color: #65C28E;
      width: 53px; height: 27px; 
      font-size: 16px;
      border: none;
      border-radius: 5px;
      margin: 5px;
}