.layout{
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  /* font-family: 'NanumSquareNeo-Variable'; */
}
.main{
  display: block;
}
.status-hp {
  position: relative;
  display: inline;
  
  }
.bar {
  width: 250px;
  height: 15px;
  background-color: #e4e4e4;
  align-content: center;
  margin: 22px;
  border-radius: 10px;
  }
.currentBar {
  height: 100%;
  background-color: #1bdc75;
  border-radius: 10px;
  }
  .currentBar1 {
    height: 100%;
    background-color: #22bab8;
    border-radius: 10px;
    }
    .currentBar2 {
      height: 100%;
      background-color: #fd40ae;
      border-radius: 10px;
      }
      .currentBar3 {
        height: 100%;
        background-color: rgb(189, 84, 189);
        border-radius: 10px;
        }
.locate{
  text-align: right;
  display: block;
  margin: 20px;
  /* background-color: aquamarine; */
}
.square{
  display: block;
  text-align: center;
  margin: 20px;
  align-items: center;
}
.profil{
  display: block;
}
.she{
  display: inline-block;
}
.text{
  display: inline-flex;
}
.set{
  display: inline-flex;
}
/* @font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
.follow{
  background-color: #1963ee;
  display: block;
  width: 173px;
  border: none;
  border-radius: 5px;
  color: white;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}
.profil{
  width: 45px;
  height: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 65px;
}
.nickname{
  margin-top:20px;
  margin-bottom:20px;
}
.userid{
  margin: 0px;
  color: gray;
  font-weight: lighter;
}
.userint{
  font-weight: 500;
}
.bold1{
  border: solid 2px gray;
  border-radius: 5px;
}
.space{
  margin: 10px;
}