/* modal창 외부화면 */
.outside_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/* modal창 */
.missionModal {
  position: absolute; 
  width: 380px;
  height: 500px;
  /* text-align: center; */
  border-radius: 10px;
  background-color: rgb(238, 244, 231);
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
#modalCheckButton {
  position: absolute;
  top: 10px; right: 10px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
#modalCloseBtn:hover {
  cursor: pointer;
}
