.checklist-border{
  width: 310px; height: 390px;
  margin-top:55px;
  margin-left: 35px;
  border: 2px solid rgb(35, 160, 91);
}
.btnMissionCheck{
  color:rgb(35, 160, 91); 
  background-color: rgb(238, 244, 231);
  width: 140px; height: 50px; 
  border-radius: 130px 130px 130px 130px;
  border-style: solid;
  border-color: rgb(35, 160, 91);
  font-size: 18px; font-weight: bold;
  display: block ;
  margin: auto;
  margin-top: 30px; margin-bottom: 20px;
}
.missionList{
  display: inline-block;
  margin-left: -15px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 270px; height: 70px;
}
.checkbox {
  display: none; /* 체크박스를 숨김 */
}

.custom-checkbox {
  width: 22px; height: 22px;
  margin-right: 15px; 
  border: 2px solid rgb(34, 173, 120);
  background-color: rgb(238, 244, 231);
  margin-right: 8px;
}

.checkbox:checked + .custom-checkbox::after {
  content: '\2713'; /* 유니코드 체크 마크 아이콘 */
  display: block;
  text-align: center;
  line-height: 17px; /* 아이콘의 높이에 맞게 조정 */
  font-size: 35px; /* 아이콘 크기를 더 크게 조정 */
  color: #4caf50;
}

.todo-text {
  color: black;
  margin-left: 10px; 
  font-size: 18px;
  font-weight: 520;
}
/* .text-underline{
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(34, 173, 120);
  
} */
.text-underline {
  position: relative;
  display: inline-block;
  color: rgb(34, 173, 120);
}

.text-underline span::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -3px;  width: 220px;
  border-bottom: 2px solid rgb(34, 173, 120); 
}




