.layout_mission{
  display: inline-flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  min-height: 75vh;
} 
.pageTitle{
  font-size: 40px; font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.missionBlock{
  display: inline-block;
  margin: 0px 50px 50px 50px;
  width: 400px;
}

.missionTitle{
  color: seagreen; text-align: center;
  font-size: 30px; font-weight: 700;
  margin-bottom: 30px;
  background-color: beige;
  /* box-shadow: 0px 3px 0px rgb(234, 234, 186); */
}

.btnMission{
  color:white; 
  background-color:mediumseagreen; 
  box-shadow: 2px 4px 2px rgb(66, 152, 105);
  border:none; border-radius: 10px;
  width: 110px; height: 45px; 
  font-size: 17px;
  margin: 15px 45px 0px 45px;
  cursor: pointer;
}

.missionImg {
  display: block;
}
.mainImg {
  width: 130px;
  height: 130px;
  margin: 35px;
}

.MissionComponent{
  margin-top: 30px;
}