.checklist-border4{
  width: 310px; height: 390px;
  margin-top:55px;
  margin-left: 35px;
  border: 2px solid rgb(35, 160, 91);
}
.btnMissionCheck4{
  color:rgb(35, 160, 91); 
  background-color: white;
  width: 140px; height: 50px; 
  border:none;
  font-size: 25px; font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 20px;  margin-bottom: 10px;
}
.missionList4{
  display: inline-block;
  margin-left: -15px;
}
.checkbox-container4 {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 270px; height: 70px;
}
.checkbox4 {
  display: none; /* 체크박스를 숨김 */
}
.custom-checkbox4 {
  width: 22px; height: 22px;
  margin-right: 15px; 
  border: 2px solid rgb(34, 173, 120);
  background-color: #fff;
  margin-right: 8px;
}

.checkbox4:checked + .custom-checkbox4::after {
  content: '\2713'; /* 유니코드 체크 마크 아이콘 */
  display: block;
  text-align: center;
  line-height: 17px; /* 아이콘의 높이에 맞게 조정 */
  font-size: 35px; /* 아이콘 크기를 더 크게 조정 */
  color: #4caf50;
}

.todo-text4 {
  color: black;
  margin-left: 10px; 
  font-size: 18px;
  font-weight: 520;
}
.text-underline4 {
  position: relative;
  display: inline-block;
  color: rgb(34, 173, 120);
}

.text-underline4 span::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -3px;  width: 220px;
  border-bottom: 2px solid rgb(34, 173, 120); 
}




