.btnMissionCheck{
  color:white; 
  background-color:mediumseagreen; 
  border:none;
  width: 110px; height: 45px; 
  border-radius: 12px;
  font-size: 17px;
  display: block ;
  margin: 50px 0px 40px 120px;
}
/* .mission_checkbox{
  font-size: 17px;
  background-color: rgb(174, 228, 170,0.7);
  width: 270px; height: 190px;
  margin-top: 20px;
  display: inline-block;
} */
.missionList{
  background-color: rgba(190, 233, 199, 0.7);
  display: inline-block;
}
.checkbox-container {
  display: flex;
  align-items: center;
  width: 270px; height: 75px;
}
.checkbox {
  display: none; 
}
.custom-checkbox {
  width: 25px; height: 25px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 2px solid rgb(18, 167, 18);
  position: relative;
  cursor: pointer; /*커서 모양 추가*/
}
.todo-text{
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 520;
}
/*체크박스 체크 표시*/
.custom-checkbox::after {
  content: '\2713'; /* 체크 모양 */
  color: rgb(18, 167, 18); 
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* 체크됐을 때 */
.checkbox:checked + .custom-checkbox::after {
  opacity: 2; /* 체크됐을 때 체크 모양 */
}