.alarm_lay{

    align-items: left;
    text-align: left;
  }
.profil2{
    display: block;
    width: 40px;
    height: 40px;
  }
.table_lay{
    /* display: inline-flex; */
    align-items: center;
  }
.table{
    border-spacing: 0;
    width: 100%;
  }
.id_alarm{
    margin-left: 20px;
    font-weight: 500;
}
.td_comment{
    display: block;
}
.alarm_font{
    font-size: 15px;
    font-weight: 800;
}
.comment_box_click{
  border: solid 2px gray;
  border-radius: 5px;
  margin: 5px;
  font-size: small;
  text-align: left;
  width: 145px;
}
.scroll_box_comment{
  width: auto;
  height: 300px;
  overflow-y: scroll;

}
.scroll_box_comment::-webkit-scrollbar {
  width: 6px;
}
.scroll_box_comment::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}