.layout_wing{
    /* display: flex; */
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    position: relative;
  }
  .alarm_lay{
    /* margin-top: 10vh; */
    align-items: left;
    text-align: left;
  }
  

  /* 팔로잉 목록 css */
  .profil2{
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  .td_following{
    display: block;
}
  .table_following_lay{
    display: block;
    align-items: center;
  }
  .following_id{
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
}
.following_lay{
    align-items: left;
    text-align: left;
}
.following_array{
  display: inline-flex;
  align-items: center;
  text-align: center;
}

  .table{
    border-spacing: 0;
    width: 100%;
  }


.alarm_font{
  font-size: 15px;
  font-weight: 800;
  text-align: left
}
.following_scrollbox{
  width: auto;
  width: 220px;
  height: 300px;
  overflow-y: scroll;
}
.following_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.following_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.followingbox{
  margin: auto;
  width: 210px;
}
.no-following{
  color: #bdbdbd;
  font-size: 15px;
  margin: 120px 0 0 30px; 
  text-align: center;
}
.following_delete{
  /* margin-left: 85px; */
  font-size: small;
  display: inline;
  float: right;
  background-color: #46bca8;
  color: #ffffff; 
  padding: 5px 10px;
  border: none;  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}