.layout_wing{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    position: relative;
  }
  .alarm_lay{
    /* margin-top: 10vh; */
    align-items: left;
    text-align: left;
  }
  

  /* 팔로잉 목록 css */
  .profil2{
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  .td_following{
    display: block;
    margin-right: 100px;
}
  .table_following_lay{
    display: block;
    align-items: center;
  }
  .following_id{
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
}
.following_lay{
    align-items: left;
    text-align: left;
}
.following_array{
  display: inline-flex;
  align-items: center;
  text-align: center;
}

  .table{
    border-spacing: 0;
    width: 100%;
  }


.alarm_font{
    font-size: 15px;
    font-weight: 800;
}
.following_scrollbox{
  width: auto;
  height: 300px;
  overflow-y: scroll;
}
.following_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.following_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.followingbox{
  margin: auto;
}