.layout_wer{
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80%;
  }
  .alarm_wer{
    align-items: left;
    text-align: left;
  }
  .profil3{
    display: block;
    width: 40px;
    height: 40px;
  }
  .table_wer{
    display: inline-flex;
    align-items: center;
  }
  .table{
    border-spacing: 0;
    width: 100%;
  }
.id_wer{
    margin-left: 20px;
    font-weight: 500;
}
.td1{
    display: block;
    margin-right: 100px;
}
.wer_font{
    font-size: 15px;
    font-weight: 800;
    text-align: left;
}
.follower_scrollbox{
  width: auto;
  height: 300px;
  overflow-y: scroll;
}
.follower_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.follower_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.followerbox{
  margin: auto;
}