.layout_modify{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.modify_body{
  background-color: rgb(243, 247, 244);
}
.main{
  display: block;
}
.bar {
  width: 250px;
  height: 15px;
  background-color: #e4e4e4;
  align-content: center;
  margin: 22px;
  }
.currentBar {
  height: 100%;
  background-color: #1bdc75;
  }
.locate{
  text-align: right;
  display: block;
  margin: 20px;
}
.square{
  display: block;
  text-align: center;
  margin: 20px;
  align-items: center;
  border-radius: 10px;
}
.square_in{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 95px;
  margin-bottom: 20px;
}
.she{
  display: inline-block;
}

.rename{
  width:190px; height: 30px;
  margin: 5px;
  font-size: 10px;
}

.intro{
  width:250px;
  height: 30px;
  margin: 5px;
  font-size: 15px;
  border-width: 0 0 1px;
  border-color: lightgray;
  background: transparent;
  text-align: right;
  outline: none;
}
.modify_allbox{
  display: block;
  align-items: center;
  text-align: center;
}
.btnstyle{
      color:white;
      background-color: #afb2b0;
      width: 53px; height: 27px; 
      font-size: 15px;
      border: none;
      border-radius: 5px;
      margin: 5px;
      
}
.btnstyle:hover{
      color:white;
      background-color: #65C28E;
      width: 53px; height: 27px; 
      font-size: 15px;
      border: none;
      border-radius: 5px;
      margin: 5px;
      
}
.btn_modi{
  align-items: center;
  margin-top: 5vh;
  display: inline-flex;
}
.profils{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
.pro_box{
  margin-bottom: 20px;
  margin-top: 40px;
}
.profil_font{
  color: rgb(100, 100, 100);
}
.profil_font:hover{
  color: rgb(7, 132, 242);
}
.modify_bold{
  border-bottom: solid 1px #d9cfcf;
  border-collapse: collapse;
}
.nickname_bold{
  border-bottom: 1px gray;
  border-collapse: collapse;

  padding-right: 300px;
}

.oneline_font{
  color: rgb(107, 106, 106);
  font-size: 14px;
}
.block{
  display: inline-flex;
}
.private_locate{
  margin-right: 20px;
  margin-left: 20px;
}

.signup-profileImg-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

.form-signup input[type="file"] {
  display: none;
}
.backbutton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}