.layout{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  position: relative;
}
.set{
  display: flex;
  margin-top: 12vh;
}
.main_bar{
  display: block;
}
.status-hp {
  /* position: relative; */
  display: inline;
  
  }
.bar {
  width: 250px;
  height: 10px;
  background-color: #e4e4e4;
  align-content: center;
  margin: 24px;
  border-radius: 10px;

  }
.exercise_currentBar {
  height: 100%;
  background-color: rgb(239, 98, 182);
  border-radius: 10px;
}
.eat_currentBar {
  height: 100%;
  background-color: rgb(64, 164, 231);
  border-radius: 10px;
  }
  .culture_currentBar {
  height: 100%;
  background-color: rgb(245, 242, 73);
  border-radius: 10px;
  }
.hobby_currentBar {
  height: 100%;
  background-color: rgb(67, 184, 58);
  border-radius: 10px;
  }
.locate{
  text-align: center;
  display: block;
  margin: 18px;
  font-size: small;

}
.square1{
  display: block;
  text-align: center;
  margin: 20px;
  align-items: center;
}
.square2{
  align-items: center;
  margin: 20px;
}
.square3{
  display: inline-block;
}
.text{
  display: block;

}

.btnpro{
  background-color: #61ad82;
  display: block;
  width: 173px;
  border: none;
  border-radius: 5px;
  color: white;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
  cursor: pointer;
}
.mypage_profile{
  width: 45px;
  height: 45px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 65px;
  display: block;
}
.nickname{
  margin-top:20px;
  margin-bottom:20px;
}
.userid{
  margin: 0px;
  color: gray;
  font-weight: lighter;
  font-size:small;
}
.userint{
  font-weight: 500;
  /* margin-top: 30px; */
}
.bold1{
  border: solid 2px gray;
  border-radius: 5px;
}
.space{
  margin: 10px;
}
.Mains-right { 
  width: 30%;
  height: 100%;
  color: blue;
}
.Mains-left { 
  width: 30%;
  height: 100%;
  color: blue;
}
.list{
  width:200px;
  height:365px;
  margin: 20px;
  line-Height: 365px;
  text-Align: center;
  border: solid 2px gray;
  border-Radius: 5px;
}
.comment_box{
  border: solid 2px gray;
  border-radius: 5px;
  margin: 5px;
  font-size: small;
  text-align: left;
}
.scroll_box{
  line-Height: 50px;
  border: solid 2px gray;
  border-Radius: 5px;
  margin-top: 30px;
}
.scroll_box {
  width: auto;
  height: 210px;
  background-color: #ffffff99;
  overflow-y: scroll;
}

.scroll_box::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
  
}
.scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.user_comment{
  text-Align: right;
  margin-bottom: 2px;
}
.cntnum {
  display: block;
  text-align: center;
  text-align: center;
}
.follower_following_comment {
  display: block;
  text-align: center;
  color: gray;
  font-size: small;
}
.count{
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}
.main_counter{
  display: block;
  text-align: center;
}
.statistics{
  width:390px;
  height:190px;
  text-Align: center;
  /* border: solid 2px gray; */
  border-radius: 5px;
  margin-top: 70px;
  position: relative;
  z-index: -1;
}
.mission_bar{
  display: inline-flex;
}



ul,li{
  list-style:none;
}
.axis_y{
  /* display:-webkit-flex;
  display:-ms-flex;
  display:-o-flex; */
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  justify-content:space-between;
  position:absolute;
  margin-left: -15px;
  height:20%;
  font-size:12px;
  color:#4a4a4a;
  z-index: -2;
}
  .axis_y:before{
    content:'';
    position:absolute;
    top:5px;
    bottom:0;
    right:0;
    width:1px;
    background:#d3d3d3;
  }
.axis_x{
  display: flex;
  /* justify-content: center; */
  /* position: relative; */
  padding: 0;
  margin-top: 165px;
  width: 300px;
  margin-left: 60px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1.5px solid #d3d3d3;
}
  .axis_x:before{
    content:'';
    position:absolute;
    top:5px;
    bottom:0;
    right:0;
    width:1px;

  }
  .time{
    display:block;
    margin-top:3px;
    font-size:12px;
    margin-bottom: -20px;
    color:#4a4a4a;
    font-size:12px;
    margin-left: 20px;
  }
  .mission_complete{
    text-align: left;
  }