.Profile_name{
  color:rgb(77, 77, 77)
}
.profile-change-container {
  text-align: center;
  padding: 20px;
  position: relative;
}
.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.profile-item {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
}
.profile-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-item:hover {
  border-color: #65c28e;
}

.profile-item.selected {
  border-color: #61ad82;
}