.layout_alr{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    position: relative;
    float: left;
  }
  .alarm_lay_madal{
    align-items: left;
    text-align: left;
    width: 330px;
    display: block;
  }
  .id_alarm_delete{
    margin: 8px;
    cursor: pointer;
    color: rgb(138, 138, 138);
    font-weight: 500;
    font-size: 13px;
  }
  .id_alarm_delete:hover{
    text-decoration: underline;
    color: rgb(92, 167, 229);
  }
  .profil2{
    display: block;
    width: 40px;
    height: 40px;
  }
  .table_alarm_lay{
    display: inline-flex;
    align-items: center;
  }
  .table{
    border-spacing: 0;
    width: 100%;
  }
.id_alarm{
  font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
}
.td{
    display: block;
}
.alarm_font{
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 0px;
}
.alarm_alldelete{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    cursor: pointer;
    color: (138, 138, 138);
}
.alarm_alldelete:hover{
    text-decoration: underline;
    color: rgb(92, 167, 229);
}
.id_alarm_time{
  color: gray;
  font-weight: 500;
  margin-left: 5px;
}
.Alarm_scrollbox{
  width: 500px;
  height: 400px;
  overflow-y: scroll;
}
.Alarm_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.Alarm_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.alarmbox{
  margin: auto;
  width: 360px;
  margin: 0 0 0 0;
}
.alarm_font_modal{
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  margin: 15px 0 10px 0;
}
.no-alarms{
  color: #bdbdbd;
  margin-left: 90px;
  margin-top: 20vh;
}