.layout_alr{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    position: relative;
  }
  .alarm_lay{
    align-items: left;
    text-align: left;
  }
  .profil2{
    display: block;
    width: 40px;
    height: 40px;
  }
  .table_alarm_lay{
    display: inline-flex;
    align-items: center;
  }
  .table{
    border-spacing: 0;
    width: 100%;
  }
.id_alarm{
    margin-left: 20px;
    font-weight: 500;
}
.td{
    display: block;
}
.alarm_font{
    font-size: 15px;
    font-weight: 800;
}
.id_alarm_time{
  color: gray;
  font-weight: 500;
  margin-left: 5px;
}
.Alarm_scrollbox{
  width: auto;
  height: 400px;
  overflow-y: scroll;
}
.Alarm_scrollbox::-webkit-scrollbar {
  width: 6px;
}
.Alarm_scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.alarmbox{
  margin: auto;
}