.modalContent{
  width: 800px;
  height: 450px;
  margin-top: 10px;
  font-size: 20px;
}

/*메뉴얼 스크롤 박스*/
.manual-scrollbox::-webkit-scrollbar {
  width: 6px;
}
.manual-scrollbox::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.manual-scrollbox{
  width: auto; height: 490px;
  overflow-y: scroll;
}

.manual-imgs{
  width: 620px; margin-bottom: 38px;
}