.App{
  display: inline-block;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.Home {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 75%;
}